<form method="get" action="dollar">
    <button>Show Price in Dollar</button>
</form>
<form method="get" action="pound">
    <button>Show Price in Pound</button>
</form>
<form method="get" action="eur">
    <button>Show Price in Eur</button>
</form>